@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    .about{
font-size:medium;
font-family:Arial;
    }
</style>
        
<div class="about">
<p><h3> Web-application Experience Exercise Task.</h3></p>
This simple  web-based customer support platform with a feture to open a new ticket and flow the status of the Ticket. 
The best part is, it's completely free. 
devloped under the .Net Fream  
platform: Visual Studio with MVC5
Language: C# and CSS
Linq Database on the back end 
    </div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br/><br /><br/><br /><br /><br /><br /><br />