@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Henok Atsbaha<br />
    Marshall University<br />
    <abbr title="Phone">Phone:</abbr>
    304.840.3074
</address>

<address>
    <strong>Developer :</strong>   <a> atsbaha@marshall.edu </a><br />
    <strong>Professor :</strong>   <a> wahjudi@marshall.edu </a><br />
    <abbr title="Phone">Phone:</abbr>
    304.696.5454
</address>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


