@{
    ViewBag.Title = "Contact";
}
<style>
    .next{
        font-size:medium;
        font-family:Arial;
    }
</style>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="next">
<address>
    Henok Atsbaha<br />
    Marshall University Department of Computer Science and Engineering<br />
    <abbr title="Phone">Phone:</abbr>
    304.840.3074
</address>

<address>
    <strong>Developer :</strong>   <a> atsbaha@marshall.edu </a><br />
    <strong>Professor :</strong>   <a> wahjudi@marshall.edu </a><br />
    <abbr title="Phone">Phone:</abbr>
    304.696.5454
</address>
    </div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


