@{
    ViewBag.Title = "Home Page";
}

<style>
     img { background-color:#ECECEA; }
     p{ width:800px; }
    .img-thumbnail{
         background-color:#ECECEA;
         border-color:#ECECEA;
        }
    h1{
        font-size: 300%;
        font-style:normal;
        font-family: Monotype Corsiva;
       
    }
     h4{
        font-size: 150%;
        font-style:normal;
        font-family:'Times New Roman';
        white-space: nowrap;
        color:white;
       line-height:30px;
    }
     .thumbnail{
         background-image:url("http://www.thehumanchain.com/wp-content/uploads/2015/11/cloud.png");
         height: 350px;
     }
</style>
<div class="img-thumbnail">
    <h1> Sweet Ticket System </h1>
    <img src="https://www.digitalgov.gov/files/2015/11/600-x-300-Marketing-concept-target-and-Customer-Satisfaction-on-wall-background-maxkabakov-iStock-Thinkstock-453577131.jpg" width="1135" height="300"/>
</div>

<p>
<div class="thumbnail" >
  

<h4> In order to streamline support requests and better serve you, <br />
    we utilize a support ticket system. Every support request is<br />
    assigned a unique ticket number which you can use to track the <br/>
    progress and responses online.For your reference we provide complete<br />
    archives and history of all your support requests. A valid email <br />
    address is required to submit a ticket. 
    </h4>
    </div></p>



