@{
    ViewBag.Title = "Home Page";
}

<style>
     img { background-color:#ECECEA; }
     p{ width:800px; }
    .img-thumbnail{
         background-color:#ECECEA;
         border-color:#ECECEA;
        }
    h1{
        font-size: 300%;
        font-style:normal;
        font-family: 'Monotype Corsiva';
    }
     h4{
        font-size: 150%;
        font-style:normal;
        font-family:'Times New Roman';
    }
</style>
<div class="img-thumbnail">
    <h1> Sweet Ticket System </h1>
    <img src="http://globalleadershipmentoringuniversity.com/wp-content/uploads/2016/01/welcome.jpg" width="1135" height="300"/>
</div>

<p>
<div class="img-thumbnail" >
  @*  <h1> Support Ticket System </h1>
    
   <img src="http://globalleadershipmentoringuniversity.com/wp-content/uploads/2016/01/welcome.jpg" width="1100" height="200" />
</div>*@
<h1>
    Welcome to the Support Center
</h1>
<h4> In order to streamline support requests and better serve you, we utilize a support ticket system. 
    Every support request is assigned a unique ticket number which you can use to track the progress and responses online. 
    For your reference we provide complete archives and history of all your support requests. 
    A valid email address is required to submit a ticket. </h4>
    </div></p>



