@{
    ViewBag.Title = "Home Page";
}

<div class="img-thumbnail">
    <h1> Support Ticket System </h1>
    <img src="C:\Users\Enoch\Desktop\img\desk1.jpg" width="1100" height="200"/>
</div>


<h3>
    Welcome to the Support Center
</h3>
<h5> In order to streamline support requests and better serve you, we utilize a support ticket system. 
    Every support request is assigned a unique ticket number which you can use to track the progress and responses online. 
    For your reference we provide complete archives and history of all your support requests. 
    A valid email address is required to submit a ticket. </h5>

<br /><br /><br /><br /><br /><br /><br />


